@import "tailwindcss";

:root {
  --background-from: #f9fafb;
  --background-to: #ffffff;
  --foreground: #0a0a0a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
  --background-from: #111827; /* gray-900 */
  --background-to: #000000;
  --foreground: #ededed;
  }
}

body {
min-height: 100vh;
  background: linear-gradient(to bottom right, var(--background-from), var(--background-to));
  color: var(--foreground);
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
